<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurora.d20_35_app">

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Startup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".views.D2035appActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.DM_Activity"
            android:label="@string/title_activity_dm_"
            android:parentActivityName=".views.D2035appActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.PC_Activity"
            android:label="@string/title_activity_pc_"
            android:parentActivityName=".views.D2035appActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.RulesExplanationActivity"
            android:label="@string/title_activity_rulesexplanation_"
            android:parentActivityName=".views.D2035appActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.ContentActivity"
            android:label="@string/title_activity_content_"
            android:parentActivityName=".views.D2035appActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.Settings_Activity"
            android:label="@string/title_activity_settings_"
            android:parentActivityName=".views.D2035appActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.Help_Activity"
            android:label="@string/title_activity_help_"
            android:parentActivityName=".views.D2035appActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.DatabasesListActivity"
            android:label="@string/title_rulesset_list"
            android:parentActivityName=".views.D2035appActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.D2035appActivity" />
        </activity>
        <activity
            android:name=".views.DatabasesListDetailActivity"
            android:label="@string/title_rulesset_detail"
            android:parentActivityName=".views.DatabasesListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.DatabasesListActivity" />
        </activity>
        <activity
            android:name=".views.PlayerCharacter_Activity"
            android:label="@string/title_activity_player_character_"
            android:parentActivityName=".views.PC_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.PC_Activity" />
        </activity>
        <activity
            android:name=".views.PlayerCharacterActions_Activity"
            android:label="@string/title_activity_player_character_actions_"
            android:parentActivityName=".views.PlayerCharacter_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.d20_35_app.views.PlayerCharacter_Activity" />
        </activity>
    </application>

</manifest>