<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.aurora.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
          android:name="com.aurora.core.views.OverworldAppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
              android:value="com.aurora.core.views.OverworldAppActivity"/>
        </activity>
        <activity
          android:name="com.aurora.worldbuilder.views.WbActivity"
          android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
          android:name="com.aurora.master.views.DmActivity"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.aurora.player.views.PlayerCharactersListActivity"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.aurora.main.views.RulesActivity"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name=".fragments.OverworldAppContentFragment"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.aurora.main.views.SettingsActivity"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.aurora.main.views.HelpActivity"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.aurora.main.views.DatabasesActivity"
            android:parentActivityName="com.aurora.main.views.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.aurora.main.views.DatabasesListItemDetailActivity"
            android:parentActivityName="com.aurora.main.views.DatabasesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.main.views.DatabasesActivity" />
        </activity>
        <activity
            android:name="com.aurora.player.views.PlayerCharacterActivity"
            android:parentActivityName="com.aurora.player.views.PlayerCharactersListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aurora.player.views.PlayerCharactersListActivity" />
        </activity>
        <activity android:name="com.aurora.main.views.RulesDetailActivity" />
        <activity android:name="com.aurora.player.views.PlayerCharactersListFrameItemDetailActivity" />
    </application>

</manifest>